
[DataSources]
source_url = ../DataSources/DownloadList.txt
download_data_path = /home/data/Download/
uncompress_data_path = /home/data/Uncompressed

[DataParsers]
beta_data_path = /home/data/Raw/Beta/
meta_data_path = /home/data/Raw/Meta/
meta_data_named = _pheno.csv
beta_data_named = _matrix.csv

[DataStandardization]
fetch = ALL
sample_identifier = geo_accession
mapped_data_dir = /home/data/Mapped/Meta/
standardized_data_path = /home/data/Standardized/
mapped_header_named = _pheno.csv
standardized_data_named = _matrix.csv

[DataMapping]
path = /home/data/mapping_dict/DataMapping_V2.xlsx
sheet = All datasets
columns = GEO ID, Tissue, Disease, Condition, Age, Age_unit, Gender, Race

[TissueMapping]
path = /home/data/mapping_dict/ValueMapping_V3.xlsx
sheet = Tissue
columns = GEO ID, Unique Value, Tissue lvl3

[DiseaseMapping]
path = /home/data/mapping_dict/ValueMapping_V3.xlsx
sheet = Disease
columns = GEO ID, Unique Value, Disease

[ConditionMapping]
path = /home/data/mapping_dict/ValueMapping_V3.xlsx
sheet = Condition
columns = GEO ID, Unique Value, Condition

[AgeMapping]
path = /home/data/mapping_dict/ValueMapping_V3.xlsx
sheet = Age
columns = GEO ID, Unique Value, Age

[GenderMapping]
path = /home/data/mapping_dict/ValueMapping_V3.xlsx
sheet = Gender
columns = GEO ID, Unique Value, Gender

[RaceMapping]
path = /home/data/mapping_dict/ValueMapping_V3.xlsx
sheet = Race
columns = GEO ID, Unique Value, Race lvl2

[CompareAndStatistic]
old_mapped_dir = /home/data/Standardized/mapped_lv3
compare_differ_path = ./Compare_TwoVesion_HeadingFile.json
compare_complement_path = ./complement_table.csv
counter_dict_path = ./counter_value_number.xlsx
